body {     
    position: relative;
    font-family: 'Amiri', serif;
    padding-bottom: 200px;
} 

.navbar {
    color: white;
    background-color: black;
}
.about {
    padding-top: 100px;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}

.projects {
    padding-top: 100px;
    padding-bottom: 300px;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
}
 