body {     
    position: relative;
    font-family: Georgia;
    padding-bottom: 200px;
} 

.about {
    padding-top: 50px;
    text-align: center;
}

h1 {    
    padding-top: 50px;
    text-align: center;     
} 
 
p {        
    font-size: 20px;     
        
} 
 